In [ ]:
Dict1={"Gender":"Male","CNIC":"1234"}
Dict2={"Card":"Silver"}
Dict3 = {"Card": "Gold"}
Dict4 = {"Card": "Platinum"}
print({"Dict1": {"Dict2": Dict3}, "Dict3": Dict4})

{'Dict1': {'Dict2': {'Card': 'Gold'}}, 'Dict3': {'Card': 'Platinum'}}

In [ ]:
print(5/3)

1.6666666666666667

In [ ]:
stock_price = int(input("Enter value: "))
if stock_price > 20:
  print(stock_price + 20)
else:
  print (stock_price)

Enter value: 21
41

In [ ]:
for i in range(1,10):
 print(1)

1
1
1
1
1
1
1
1
1

In [ ]:
for i in range(1,10):
    print(i," is five times equal to ",i*5))

SyntaxError: unmatched ')' (<ipython-input-43-21a9a642367c>, line 2)

In [ ]:
Table=Int()

In [ ]:
i=0
while i<5:
  if i==4:
   break
  print(i)
  i=i+1

0
1
2
3

In [ ]:
def tax_calc(tx,tr):
  if tx == tr*x:
    print('You are an honest tax payer')
  else:
    print('You are dishonest')
  tax_calc(12,0.1,120)

TypeError: tax_calc() takes 2 positional arguments but 3 were given

In [ ]:
def g

In [ ]:
def g_t (x):
  ifx =='Male':
    return 0

In [ ]:
print ('we are learning python')

we are learning python